body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #3498db; /* Choose a color that fits your design */
  color: #fff; /* Text color */
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px; /* Adjust the margin as needed */
}

.logo img {
  width: 50px; /* Set the width of your logo */
  height: auto; /* Maintain aspect ratio */
}

h1 {
  margin: 0;
}
