/* Your other CSS styles go here */

@font-face {
    font-family: 'Samarkan-Normal1';
    src: url('Samarkan-Normal1.ttf.woff') format('woff'),
         url('Samarkan-Normal1.ttf.svg#Samarkan-Normal1') format('svg'),
         url('Samarkan-Normal1.ttf.eot'),
         url('Samarkan-Normal1.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* Your other CSS styles continue below */
